:root{
    --primary-color: #C85002;
    --primary-white: #ffffff;
    --primary-black: #000000;
    --primary-bg: #FAF3ED;
    --primary-dark-brown: #5C0400;
    --color-grey: #585866;
    --color-blue: #08083d;
}